# SPDX-FileCopyrightText: 2025 David Osipov <personal@david-osipov.vision>
#
# SPDX-License-Identifier: MIT
# .github/workflows/sign-release.yml
name: Sign Release Artifacts

on:
  release:
    types: [published]

# Set explicit default permissions to read-only
permissions: read-all

jobs:
  verify-tests:
    name: Run tests workflow
    uses: DavidOsipov/gmpy2-stubs/.github/workflows/python-tests.yml@main
  sign:
    runs-on: ubuntu-latest
    needs: [verify-tests]
    # Override with specific required permissions for this job
    permissions:
      contents: write  # Needed to upload release artifacts
      id-token: write  # Needed for Sigstore authentication
    
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: '3.13'

      - name: Install dependencies (including your package in editable mode)
        run: |
          python -m pip install --upgrade pip
          python -m pip install .

      - name: Sign Script with Sigstore
        uses: sigstore/gh-action-sigstore-python@15ce42889ff1d65509841d7c63480f64affe3a64
        with:
          release-signing-artifacts: true